@import 'components/_color';
@import 'components/_fonts';
@import "components/_grid";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $main-font;
}
html{
	font-size: 16px;
}

.bg-golden{
	background-color: $brand-color-golden;
}
.bg-black{
	background-color: $base-color-black;
}
.c-white{
	color: white;
}
.text-center{
	text-align: center;
}
.p-1rem{
	margin: 1rem;
}

.container{
	width: 95%;
	margin: auto;
}
//title - logo
.logo{
	padding: 1rem 0.5rem;
}
//menu
.menu{
	li{
		margin: 0.24rem;
		padding: 0.3rem;
	}
	li:hover{
		background-color: $brand-color-golden;
	}
}

//exercise
.exercise-container{
	a{
		overflow-wrap: break-word;
	}
}
